
.card
{
 opacity: 0.75;
}

.card-title
{
    font-family: 'Roboto', sans-serif;
}

.card-text-name
{
    font-family: 'Roboto', sans-serif;
}

.card-text
{
    font-family: 'Lato', sans-serif;
}

.parallax-2a
   {
      /* The image used */
     background-color: #eeeeee;
   
    padding-bottom: 100px;
    padding-top: 10px;
  }


 h4
 {
     padding-top: 20px;
     padding-bottom: 15px;
 }