/* Navbar */
a
{
  font-size:18px;
  letter-spacing:0.1em;
  margin: 0px 15px 0px 15px;
  
}
.navbar li a
{
    color: #fff !important;
}

.navbar  {
  background-color: #000;
  
}
/* Avatar */
  #avatar
  {
    border-radius: 50%;
    width: 195px;
    height: 195px;
  }

  /* Jumbotron */
  #profile
  {
    border-radius: 0px;
    margin: auto 0px;
  }
  #topic
  {
    border-radius: 0px;
    margin: auto 0px;
    background-color:#ffffff;
   
  }
  #topic, p {
    font-size: 20px;
  
  }

 h4 {
    
    letter-spacing: 0.1em;
    font-family: 'Roboto', sans-serif;
  }
  /* Parallax */
  .parallax {
    /* The image used */
   
   background-image: url('../img/forest-under-clouds-1287075.jpg');
    /* Set a specific height */
    height: 600px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax-2 {
    /* The image used */
    background-image: url('../img/green-plants-1089455.jpg');
    /* Set a specific height */
    height: 750px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* h1 h4*/
  h1 ,h5 { 
    color: #fff;
    font-family: 'Roboto', sans-serif;
  }

  /* Typography */
  p {
    font-family: 'Lato', sans-serif;
  }
  
/* Footer */
#footer{
    background-color: #ffc400;
    border-radius: 0px;
    margin: auto 0px;
}

i{
    margin: 12px;
}

